@{
    ViewData["Title"] = "Home Page";
}

<h2>主页</h2>

<div class="row">
    <div class="col-md-8">
        <hr />
        <a class="btn btn-primary" asp-action="Login" asp-controller="StuUser">学生用户入口</a>
        <a class="btn btn-info" asp-action="Login" asp-controller="TchrUser">教师用户入口</a>
    </div>
</div>
